RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^configdb\.php$ - [R=404,L]

RewriteRule ^feladat1\.php$ - [R=404,L]

RewriteRule ^feladat2\.php$ - [R=404,L]
